
<section class="md:py-12 lg:py-20 grid place-content-center">
    <div class="max-w-6xl">
        <div class="flex flex-col-reverse lg:flex-row justify-between items-center gap-6">
            <div class="w-full sm:w-3/4 lg:w-1/2">
                <div class="border-4 border-white rounded-2xl">
                    <a href="/blog" class="block group overflow-hidden relative rounded-xl">
                        <img src="/assets/30.jpeg" class="w-full h-[480px] object-cover object-center"/>
                        <div class="absolute bg-gray-900 bottom-0 flex group-hover:bg-opacity-50 inset-x-0 items-center justify-between p-4 text-white sm:px-6"> 
                            <h2 class="font-bold">Vacuum Tube</h2>
                            <span class="italic opacity-50">by AJ.Sopark</span> 
                        </div>
                    </a> 
                </div>
            </div>
            <div class="w-11/12 lg:w-1/2 space-y-6">
                <h1 class="font-bold text-center leading-tight text-5xl text-white md:leading-tight lg:leading-tight lg:text-6xl lg:text-left w-11/12 md:3/4 lg:w-full mx-auto"> Create & Generate Digital Arts by Ai</h1>

                <div class="flex justify-center lg:justify-start gap-4">
                    <a href="/" class="duration-500 bg-gradient-to-t from-rose-600 to-rose-400 hover:from-pink-600 hover:to-pink-400 font-bold px-6 py-2 rounded text-white">Events</a>
                    <a href="/blog" class="duration-500 bg-gradient-to-t from-rose-600 to-rose-400 hover:from-pink-600 hover:to-pink-400 font-bold px-8 py-2 rounded text-white">Blog</a>
                </div>                             
            </div>
        </div>
        <div class="mt-12 flex flex-col mx-auto">
            <div class="text-center text-white text-xs lg:text-base px-4 w-[320px] lg:px-12 border-x-2 sm:w-full mx-auto italic opacity-60 hover:opacity-100 duration-700">
                <p>Quaerat nisi vitae nihil ad sequi obcaecati minima, repellendus animi, unde nemo distinctio quasi molestiae omnis neque, ducimus sunt blanditiis! Qui dolorum totam natus praesentium. Quod magni omnis quo saepe enim, itaque laborum doloremque, ipsa? Nostrum quaerat tenetur rerum quas itaque? Repudiandae culpa aut nulla, vel beatae quos vitae perspiciatis sed et quis!</p>
            </div>
            <div class="mt-12 mx-auto scale-75 w-full lg:scale-100 overflow-hidden">
                <div id="bnn480_hype_container" class="HYPE_document rounded-full" style="margin:auto;position:relative;width:320px;height:100px;overflow:hidden;">
                    <script type="text/javascript" charset="utf-8" src="/assets/Bnn480.hyperesources/bnn480_hype_generated_script.js?5323"></script>
                </div>
            </div>
        </div>
    </div>
</section>
